page-register {
    .profilePhoto {
        border-radius: 50%;
        width: 50%;
        height: 100%;
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}